
div.shadow-lg
    h1.text-blue-600.text-2xl.text-center.p-5
        a(href="/") Media Server

    div.flex.items-center.justify-center
        ul
            li.inline-block.pl-5.pr-5.pb-3
                a(href="/music", rel="noopener noreferrer") Music
            li.inline-block.pl-5.pr-5.pb-3
                a(href="/images", rel="noopener noreferrer") Images
            li.inline-block.pl-5.pr-5.pb-3
                a(href="/video", rel="noopener noreferrer") Video