doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Media-Server
    link(href="./styles/style.css", rel="stylesheet")
  body
  
    div.shadow-lg
        h1.text-blue-600.text-2xl.text-center.p-5
            a(href="/") Media Server
        div.flex.items-center.justify-center
            ul
                li.inline-block.pl-5.pr-5.pb-3
                    a(href="/music", rel="noopener noreferrer") Music
                li.inline-block.pl-5.pr-5.pb-3
                    a.bg-red-50.pl-5.pr-5.pt-2.pb-2.shadow-lg.rounded-md(href="/images", rel="noopener noreferrer") Images
                li.inline-block.pl-5.pr-5.pb-3
                    a(href="/video", rel="noopener noreferrer") Video
    
    //- div.flex.items-center.justify-center.pt-5
    //-   form(method="POST" action="/upload" enctype="multipart/form-data")
    //-     div.border-solid.border-2.border-blue-100.pl-5.pr-5.pt-3.pb-3.m-5.rounded-lg.text-center.inline-block.shadow-lg.bg-green-10
    //-       input#uploadfile(type="file" name="files" required=true)
    //-       button.bg-blue-200.rounded.m-2.p-2.rounded-lg.shadow-lg(type="submit") Upload

    h1 Images

    include includes/footer.pug

